html{
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat";
    font-weight: 400;
}

::selection{
    color: #FFDFD3;
}

::-moz-selection{
    color: #FFDFD3;
}

/* NAVBAR */

.navbar{
    padding: 25%;
}

.navbar-brand{
    font-family: "Bad Script" , cursive;
    padding: 1px;
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 10px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}

/* DIV */

#cabecalho{
    background-image: url("images/mesas.jpg");
    height: 100%;
    background-size: cover;
}

.div-comum{
    padding-top: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.alarga-div{
    padding-bottom: 35%;
}

/* TEXTOS */
.titulos{
    font-size: 120px;
    text-align: center;
    font-family: "Bad Script", cursive
}

#titulo-cabecalho{
    color: #F0F8FF;
    text-shadow: 2px 1px 2px #080808;
}

@media (max-width: 890px){
    #titulo-cabecalho{
        padding-top: 25%;
    }
}

#titulo-menu{
  padding-right: 65%;
  color: #F0F8FF;
}

/* TABELA */
table{
font-family: "Montserrat", sans-serif;
font-size: 28px;
border-collapse: collapse;
width: 40%;
}

.tabela{
  padding-right: 10%;
  padding-left: 10%;
}

tr{
  background-color: rgba(192, 192, 192, 0.6);
}

tr:hover{
  background-color: #343a30;
}

td, th{
  font-family: "Montserrat", sans-serif;
  color: black;
  text-align: left;
  padding: 15%;
}

/* MENU */
#menu{
  background-image: url("images/churros.jpg");
}

@media (max-width: 1400px){
#menu{
  height: 120%;
}
}

@media (max-width: 890px){
#menu{
  height: 170%;
}
}

@media (max-width: 725px){
#menu{
  height: 220%;
}
}
